/* App.css */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 30px;
  color: black;
}

.image-container {
  width: 300px; 
  height: 300px; 
  border: 5px solid #000000;
  overflow: hidden; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.img{
  width: 300px;
  height: 300px;
}

.name-container {
  margin-top: 10px;
  width: 300px; 
  height: 30px; 
  border: 1px solid #000000;
  background-color: rgb(213, 218, 222);
  overflow: hidden; 
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.info-container {
  width: 250px; 
  height: 300px; 
  border: 1px solid #000000;
  overflow:scroll; 
  display: flex;
  background-color: rgb(210, 210, 210);
}

.spacer {
  height: 15px; 
}


#infoButton{
  width: 80px; 
  height: 40px;
  font-size: larger;
  border-radius: 10px;
  border-color: white;
}

#movesButton{
  width: 80px; 
  height: 40px;
  font-size: larger;
  border-radius: 10px;
  border-color: rgb(116, 244, 123);
  background-color: rgb(116, 244, 123);
}

.App-content {
  display: flex;
}

.Infomoves {
  margin-left: 20px; /* Adjust the margin as needed */
}

/* App.css */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.App-container {
  text-align: center;
}

.app-butt{
  align-items:flex-start;
}

.button-container {
  display: flex;
  justify-content: flex-start;
  margin-left: 70px; /* Adjust this value to your preference */
}

.button-container button {
  margin-right: 10px; /* Adjust this value to your preference */
  width: 60px;
  height: 30px;
  font-size: 20px;
}

#typeS {
  display: flex;
  
}

#typeS div {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  

}